In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('zameen.csv')
df.head()

,page_link,img_link,whatsapp_link,price,location,bedrooms,bathrooms,area,title,description,time
0,https://www.zameen.com/Property/islamabad_d_12...,https://media.zameen.com/thumbnails/146451959-...,https://wa.me/?text=1%20Kanal%20Brand%20New%20...,13.5 Crore,"D-12, Islamabad",9.0,9.0,1 Kanal,1 Kanal Brand New Triple Storey House For Sale,1 Kanal Triple Storey House For Sale\nmargalla...,Added: 2 weeks ago
1,https://www.zameen.com/Property/islamabad_d_12...,https://media.zameen.com/thumbnails/148842027-...,https://wa.me/?text=4%20Marla%20Prime%20locati...,3.25 Crore,"D-12, Islamabad",4.0,4.0,4 Marla,4 Marla Prime location House For Sale,4 Marla Beautiful House For Sale \nPrime Locat...,Added: 5 days ago
2,https://www.zameen.com/Property/islamabad_d_12...,https://images.zameen.com/smap/400/300/33.7016...,https://wa.me/?text=Main%20Road%20Brand%20New%...,3.1 Crore,"D-12, Islamabad",4.0,4.0,4.4 Marla,Main Road Brand New House D-12 For Sale,Beautiful House For Sale Main Road \n4 Bedroom...,Added: 2 weeks ago
3,https://www.zameen.com/Property/d_12_d_12_1_pr...,https://media.zameen.com/thumbnails/148688704-...,https://wa.me/?text=Prime%20Location%20Brand%2...,3.55 Crore,"D-12/1, D-12",3.0,5.0,4.4 Marla,Prime Location Brand New Street Corner Double ...,Prime Location Brand New Street Corner Double...,Added: 20 hours ago
4,https://www.zameen.com/Property/d_12_d_12_1_br...,https://media.zameen.com/thumbnails/149473249-...,https://wa.me/?text=Brand%20New%20Double%20Uni...,3.33 Crore,"D-12/1, D-12",3.0,4.0,4.4 Marla,Brand New Double Unit House Is Available For S...,Brand New Double Unit House Is Available for S...,Added: 2 days ago

In [4]:
df.columns

Index(['page_link', 'img_link', 'whatsapp_link', 'price', 'location',
       'bedrooms', 'bathrooms', 'area', 'title', 'description', 'time'],
      dtype='object')